.fill-container {
  text-align: center;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Added to allow wrapping */
  padding: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  height: 60vh;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.contact-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex: 1;
  margin: 20px; /* Updated margin for separation */
}

.contact-container h2 {
  margin-bottom: 20px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.contact-container button {
  width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
}

.contact-container button:hover {
  background-color: #ff4500;
}

@media (max-width: 768px) {
  .fill-container {
    flex-direction: column; 
    align-items: stretch;
  }

  .image-container {
    height: auto;
    padding-bottom: 0;
  }

  .contact-container {
    margin: 10px 0;
  }
}
