.tech-stack-container {
  width: 75%;
  margin-right: 20%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tech-stack-container::-webkit-scrollbar {
  display: none;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-content: center;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-image-container {
  width: 130px;
  height: 130px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #d12e7f;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tech-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.tech-image-container:hover .tech-image {
  transform: scale(1.1);
}

p {
  margin-top: 10px;
  text-align: center;
}

.tech-item.single-item {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .tech-stack-container {
    width: 100%;
    margin-right: 0;
  }

  .tech-stack {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .tech-image-container {
    width: 100px;
    height: 100px;
  }

  .tech-item.single-item {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .tech-image-container {
    width: 80px;
    height: 80px;
  }

  .tech-item.single-item {
    margin-top: 10px;
  }
}
