/* NotFoundPage.css */
.not-found {
    text-align: center;
    margin-top: 100px;
  }
  
  .not-found h1 {
    font-size: 3rem;
    color: #ff0000; /* Red color for the heading */
  }
  
  .not-found p {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333; /* Dark grey color for the paragraph */
  }
  